@import '../../../assets/variables';

*{
  font-family:  $font-family;
  line-height: 1.618;
}

hr{
  height: 1px;
  margin: 3.5em 0;
  background: #D8D8D8;
}

h2{
  margin: .67em 0;
  margin-top: 0;
  font-size: 30px;
  color: #333;
  font-weight: lighter;
}

p{
  font-weight: 300;
  font-size: 16px;
  color: #666;
}
