<section *ngFor="let benefit of benefits">
  <hr>
  <article class="flex row column-sm center-sm">
    <app-benefits-image class="flex flex-sm-12 hidden show-sm" [img]="benefit.image" [title]="benefit.title"></app-benefits-image>
    <div class="flex-7 flex-sm-12">
      <h2>
        {{benefit.title}}
      </h2>
      <p>
        {{benefit.body}}
      </p>
      <app-benefit-value-prop-list [valueList]="benefit.list" [icon]="benefit.listIcon"></app-benefit-value-prop-list>
    </div>
    <app-benefits-image class="flex show hidden-sm" [img]="benefit.image" [title]="benefit.title"></app-benefits-image>
  </article>
</section>


