@import '../../../assets/variables.scss';

li{
  line-height: 1.618;
  margin: 0 12px 12px;
}

li:first-child{
  line-height: 1.618;
  margin: 0 12px 0 0;
}

li:last-child{
  line-height: 1.618;
  margin: 0 0 0 12px;
}

@media (max-width: $screen-sm-max) {
  li, li:first-child, li:last-child{
    margin: 0;
  }
}
