<h1 class="hidden">
  SerpentVPN Home
</h1>
<nav class="flex row center">
  <a href="#" class="flex-sm-12" data-title="Home">
    <img id="logo" src="./assets/logo.svg" alt="Home">
  </a>

  <ul class="flex row center">
    <li>
      <a href="#">
        Features
      </a>
    </li>
    <li>
      <a href="#">
        Apps
      </a>
    </li>
    <li>
      <a href="#">
        Our Team
      </a>
    </li>
    <li>
      <a href="#">
        Customer Support
      </a>
    </li>
  </ul>

  <app-call-to-action class="hidden-sm" [color]="'orange'">
    Try It Free
  </app-call-to-action>
</nav>
