<section class="flex container start row column-sm center-sm">
  <app-hero-image-section class="flex flex-sm-12 hidden show-sm"></app-hero-image-section>
  <article class="flex-7 flex-sm-12">
    <h1>The World's Best VPN</h1>
    <p>
      Our product is changing how individuals use a personal VPN. Traditional personal VPNs allow users to connect only to servers
      that the VPN provider owns, and distributes an IP address from a pool that is also owned by VPN provider. Serpent VPN is
      the next evolution of personal VPN and instead allows users to utilize their own server, and connect to it from our state-of-the-art
      applications.
    </p>
  </article>

  <app-hero-image-section class="flex show hidden-sm"></app-hero-image-section>
</section>

<section>
  <ng-content></ng-content>
</section>
