@import '../../../assets/variables';
*{
  font-family:  $font-family;
}

h1{
  margin-top: 0;
  font-size: 30px;
  color: #333;
  font-weight: lighter;
}

p{
  font-size: 18px;
  font-weight: normal;
  color: #666;
  line-height: 1.618;
}
