<nav class="flex column-sm center-sm">
  <ul class="flex center row-sm flex-xs-2">
    <li *ngFor="let link of links; let $last = last;" style="text-align: left;" class="flex-sm-11 flex-xs-12 margin-bottom-sm-20px" [ngClass]="$last ? 'center flex-sm-row' : '' ">
        <a [href]="link.url">
          {{link.text}}
        </a>
        <ul *ngIf="$last" class="flex drop-padding-left-sm justify-sm-start" style="margin: 0;">
          <li class="flex drop-padding-left-sm" *ngFor="let img of socialSites">
            <figure>
              <a [href]="img.url" [attr.data-title]="img.title">
                <img [src]="img.src" [alt]="img.title">
              </a>
            </figure>
          </li>
        </ul>
    </li>
  </ul>
</nav>
