<figure class="flex-xs-2" style="min-width: 5em;">
  <img [src]="prop.image" [alt]="prop.title">
</figure>
<div class="flex-xs row" style="text-align: left;">
  <h3 class="flex-xs-12">
    {{prop.title}}
  </h3>

  <p class="flex-xs-12">
    {{prop.body}}
  </p>
</div>
