@import '../../../../assets/variables.scss';

h3{
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin: 1em 0 0.25em;
}

p{
  font-weight: 300;
  font-size: 16px;
  color: #666;
}

@media (max-width: $screen-md-min) {
  figure{
    margin: 0 0 20px;
  }
}
