$full-width: 100%;
$font-family: 'Open Sans',Arial,Helvetica,sans-serif;
$margin-width: 24px;

// breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min);
