/* You can add global styles to this file, and also import other style files */
@import './assets/variables.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: $full-width;
    vertical-align: baseline;
    background: transparent;
}

ul, menu, dir {
   display: block;
   list-style-type: disc;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 40px;
}

.flex,
.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9,
.flex-10,
.flex-11,
.flex-12,
.flex-offset-0,
.flex-offset-1,
.flex-offset-2,
.flex-offset-3,
.flex-offset-4,
.flex-offset-5,
.flex-offset-6,
.flex-offset-7,
.flex-offset-8,
.flex-offset-9,
.flex-offset-10,
.flex-offset-11,
.flex-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.flex{
  flex: 1;
  display: flex;
}

.flex-1{
  $width: $full-width / (12 / 1);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-2{
  $width: $full-width / (12 / 2);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-3{
  $width: $full-width / (12 / 3);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-4{
  $width: $full-width / (12 / 4);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-5{
  $width: $full-width / (12 / 5);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-6{
  $width: $full-width / (12 / 6);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-7{
  $width: $full-width / (12 / 7);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-8{
  $width: $full-width / (12 / 8);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-9{
  $width: $full-width / (12 / 9);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-10{
  $width: $full-width / (12 / 10);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:aalc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-11{
  $width: $full-width / (12 / 11);
  -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
  flex-basis:calc(#{$width} - #{$margin-width});
  max-width:calc(#{$width} - #{$margin-width});
}

.flex-12{
  -ms-flex-preferred-size:calc(#{$full-width} - #{$margin-width});
  flex-basis:calc(#{$full-width} - #{$margin-width});
  max-width:calc(#{$full-width} - #{$margin-width});
}

.row{
  flex-direction: row;
  flex-flow: row wrap;
}

.column{
  flex-direction: column;
  flex-flow: column wrap;
}

.start{
  align-items: start;
}

.center{
  align-items: center;
}

.end{
  align-items: end;
}

nav ul{
  justify-content: space-evenly;
  list-style: none;
}

nav li {
  margin: 6px auto;
  text-align: center;
  padding: 0 5px;
}

.container{
  flex: 1;
  padding: 15px 100px;
}

.page-header{
  font-family: $font-family;
  font-size: 18px;
  color: #666;
  background-color: #F5F6F8;

  a{
    display: flex;
    font-family: $font-family;
    font-size: 18px;
    color: #666;
    text-decoration: none;
  }
}

.page-footer{
  display: flex;
  font-family: $font-family;
  font-size: 18px;
  color: #DDD;
  letter-spacing: 2px;
  background-color: #3A3D40;
  font-weight: 600;

  a{
    color: #DDD;
    text-decoration: none;
  }
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.hidden {
  display: none;
}

.show{
  display: block;
}

.show-xs{
  display: none;
}

.call-to-action{
  padding: 8px 20px;
  border-radius: 2px;
  font-size: 16px;

  &.orange{
    background-color: orange;
    color: #FFF;
  }

  &:hover{
    cursor: pointer;
  }
}

.flex-sm-row{
    display: inline-flex;
}


@media (max-width: $screen-md-min) {
  .container{
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }

  .show{
    display: none;
  }

  .hidden-sm{
    display: none;
  }

  .show-sm{
    display: block;
  }

  ul{
    list-style-position: inside !important;
  }

  figure{
    display: inline-flex !important;
    margin-bottom: 40px;
  }

  .row-sm{
    flex-direction: row;
    flex-flow: row wrap;
  }

  .column-sm{
    flex-direction: column;
    flex-flow: column wrap;
  }

  .start-sm{
    align-items: start;
  }

  .center-sm{
    align-items: center;
  }

  .end-sm{
    align-items: end;
  }

  .drop-padding-left-sm{
    padding-left: 0;
  }

  .justify-sm-start{
    justify-content: start;
  }

  .flex-sm-row{
    display: unset;
    flex-direction: row;
  }

  .flex-sm,
  .flex-sm-1,
  .flex-sm-2,
  .flex-sm-3,
  .flex-sm-4,
  .flex-sm-5,
  .flex-sm-6,
  .flex-sm-7,
  .flex-sm-8,
  .flex-sm-9,
  .flex-sm-10,
  .flex-sm-11,
  .flex-sm-12,
  .flex-sm-offset-0,
  .flex-sm-offset-1,
  .flex-sm-offset-2,
  .flex-sm-offset-3,
  .flex-sm-offset-4,
  .flex-sm-offset-5,
  .flex-sm-offset-6,
  .flex-sm-offset-7,
  .flex-sm-offset-8,
  .flex-sm-offset-9,
  .flex-sm-offset-10,
  .flex-sm-offset-11,
  .flex-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .flex-sm{
    flex: 1;
    display: flex;
  }

  .flex-sm-1{
    $width: $full-width / (12 / 1);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-2{
    $width: $full-width / (12 / 2);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-3{
    $width: $full-width / (12 / 3);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-4{
    $width: $full-width / (12 / 4);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-5{
    $width: $full-width / (12 / 5);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-6{
    $width: $full-width / (12 / 6);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-7{
    $width: $full-width / (12 / 7);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-8{
    $width: $full-width / (12 / 8);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-9{
    $width: $full-width / (12 / 9);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-10{
    $width: $full-width / (12 / 10);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:aalc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-11{
    $width: $full-width / (12 / 11);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-sm-12{
    -ms-flex-preferred-size:calc(#{$full-width} - #{$margin-width});
    flex-basis:calc(#{$full-width} - #{$margin-width});
    max-width:calc(#{$full-width} - #{$margin-width});
  }
}

@media (max-width: $screen-sm-max) {

  .row-xs{
    flex-direction: row;
    flex-flow: row wrap;
  }

  .column-xs{
    flex-direction: column;
    flex-flow: column wrap;
  }

  .start-xs{
    align-items: start;
  }

  .center-xs{
    align-items: center;
  }

  .end-xs{
    align-items: end;
  }

  .flex-xs,
  .flex-xs-1,
  .flex-xs-2,
  .flex-xs-3,
  .flex-xs-4,
  .flex-xs-5,
  .flex-xs-6,
  .flex-xs-7,
  .flex-xs-8,
  .flex-xs-9,
  .flex-xs-10,
  .flex-xs-11,
  .flex-xs-12,
  .flex-xs-offset-0,
  .flex-xs-offset-1,
  .flex-xs-offset-2,
  .flex-xs-offset-3,
  .flex-xs-offset-4,
  .flex-xs-offset-5,
  .flex-xs-offset-6,
  .flex-xs-offset-7,
  .flex-xs-offset-8,
  .flex-xs-offset-9,
  .flex-xs-offset-10,
  .flex-xs-offset-11,
  .flex-xs-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .flex-xs{
    flex: 1;
    display: flex;
  }

  .flex-xs-1{
    $width: $full-width / (12 / 1);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-2{
    $width: $full-width / (12 / 2);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-3{
    $width: $full-width / (12 / 3);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-4{
    $width: $full-width / (12 / 4);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-5{
    $width: $full-width / (12 / 5);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-6{
    $width: $full-width / (12 / 6);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-7{
    $width: $full-width / (12 / 7);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-8{
    $width: $full-width / (12 / 8);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-9{
    $width: $full-width / (12 / 9);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-10{
    $width: $full-width / (12 / 10);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:aalc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-11{
    $width: $full-width / (12 / 11);
    -ms-flex-preferred-size:calc(#{$width} - #{$margin-width});
    flex-basis:calc(#{$width} - #{$margin-width});
    max-width:calc(#{$width} - #{$margin-width});
  }

  .flex-xs-12{
    -ms-flex-preferred-size:$full-width;
    flex-basis:$full-width;
    max-width:$full-width;
  }
}
