<app-header></app-header>

<main>
  <app-hero-section>
    <app-value-proposition class="container flex row space-between"></app-value-proposition>
  </app-hero-section>
  <app-benefits-section class="container flex column"></app-benefits-section>
</main>

<app-footer></app-footer>

